@inherits LayoutComponentBase

<div class="d-flex page overflow-hidden h-100">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="flex-box">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="flex-box overflow-hidden">
            @Body
        </article>
    </main>
</div>
