@if (!string.IsNullOrEmpty(Uri))
{
    <MudText Class="mb-2" Color="Color.Warning"><b><a href="@Uri" target="_blank">@Label</a></b></MudText>
}

@code {
    [Parameter, EditorRequired]
    public required string Label { get; set; }

    [Parameter]
    public string? Uri { get; set; }
}
