<div style="@Style">
    <MudProgressCircular Indeterminate="true" Color="Color"/>
</div>

@code {

    [Parameter]
    public Color Color { get; set; } = Color.Primary;

    [Parameter]
    public bool Flex { get; set; } = true;

    [Parameter]
    public bool GrowFlex { get; set; } = true;

    [Parameter]
    public bool Center { get; set; } = true;

    [Parameter]
    public string? CustomStyle { get; set; }

    private string Style
    {
        get
        {
            var res = "";

            res += Flex ? "display:flex;" : "";
            res += GrowFlex ? "flex:1;" : "";
            res += Center ? "align-items:center;justify-content:center;" : "";
            res += CustomStyle ?? "";

            return res;
        }
    }

}