@page "/counter"
@using KarcagS.Blazor.Common.Components.FileUploader
@using KarcagS.Blazor.Common.Http
@using System.ComponentModel.DataAnnotations
@using KarcagS.Blazor.Common.Services.Interfaces

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCount2">Click me</button>

<TimeInput Label="Time"/>
<DateInput Label="Date"/>


@code {

    [Inject]
    private IHttpService HttpService { get; set; } = default!;

    [Inject]
    private HttpClient Client { get; set; } = default!;

    [Inject]
    private IConfirmService Confirm { get; set; } = default!;

    [Inject]
    private IFileUploaderService Uploader { get; set; } = default!;

    private int currentCount = 0;

    private TModel Model { get; set; } = new() { DateTime = DateTime.Now };

    private async Task IncrementCount()
    {
    // await HttpService.Post<TestModel>(new HttpSettings("https://localhost:7205/weatherforecast"), new TestModel { }).Execute();
    //sawait HttpService.Get<TestModel>(new HttpSettings("https://localhost:7205/weatherforecast")).Execute();

    //await Client.GetFromJsonAsync<TestModel>("https://localhost:7205/weatherforecast");
    // await Client.PostAsJsonAsync<TestModel>("https://localhost:7205/weatherforecast", new TestModel { });

        await Confirm.Open(new Components.Confirm.ConfirmDialogInput { ActionFunction = async () => await Task.FromResult(true), Message = "HELLO" }, "Confirm Action Log Delete");
    }

    private async Task IncrementCount2()
    {
        await Uploader.Open(new FileUploaderDialogInput { EnabledExtensions = FileUploaderDialogInput.ImageExtensions }, "FILE");
    }

    public class TestModel
    {
        [Required]
        public int? Id { get; set; }

        [Required]
        public int Number { get; set; }

        [Required]
        public DateTime? DateTime { get; set; }

        [Required]
        [MaxLength(20)]
        public string Name { get; set; } = string.Empty;
    }

    public class TModel
    {
        public DateTime DateTime { get; set; } = DateTime.Now;
    }

}