@page "/table"
@using KarcagS.Blazor.Common.Demo.Services
@inject IDemoTableService Service

<div class="flex-box overflow-hidden p-1">
    <Table Service="Service" Style="Style" ExtraParams="ExtraParams" />
</div>

@code {
    private StyleConfiguration Style { get; set; } = StyleConfiguration.Build()
        .AddTitleColorGetter((colKey) => colKey == "id" ? Color.Primary : Color.Secondary)
        .AddColorGetter((item) =>
        {
            if (item.Tags.Contains("TRUE_VALUE"))
            {
                return Color.Success;
            }

            if (item.Tags.Contains("FALSE_VALUE"))
            {
                return Color.Error;
            }

            return Color.Default;
        });

    private Dictionary<string, object> ExtraParams = new()
    {
        {"key", 1}
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
