@using Microsoft.AspNetCore.Components.Forms
@using System.IO

<MudDialog>
    <DialogContent>
        <div class="text-center">
            <InputFile id="fileInput" OnChange="@FilesReady" hidden></InputFile>
            <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary"
                       StartIcon="@Icons.Filled.CloudUpload" for="fileInput">Upload Image</MudButton>
            @if (File != null)
            {
                <div style="margin-top: 1rem;">@File.Name - @File.ContentType</div>
            }
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    private MudDialogInstance Dialog { get; set; } = null!;

    [Parameter]
    public ImageUploaderDialogInput Input { get; set; } = new();

    [Inject]
    private ISnackbar Snackbar { get; set; } = null!;

    private IBrowserFile? File { get; set; }

    private List<string> ImageExtensions { get; set; } = new()
        {
            "image/jpg",
            "image/jpeg",
            "image/png",
            "image/bmp"
        };

    private async void Save()
    {
        if (File is null)
        {
            return;
        }

        if (ImageExtensions.Contains(File.ContentType))
        {
            try
            {
                await using var memoryStream = new MemoryStream();
                await File.OpenReadStream().CopyToAsync(memoryStream);
                if (await Input.ImageUpload(memoryStream.ToArray()))
                {
                    Dialog.Close(DialogResult.Ok(true));
                }
            }
            catch (Exception e)
            {
                Snackbar.Add("Problem during the image uploading. Please try again later.", Severity.Error);
                Console.WriteLine(e);
            }
        }
        else
        {
            Snackbar.Add("Invalid file extension. Please try again with a correct type.", Severity.Error);
        }
    }

    private void Cancel()
    {
        Dialog.Cancel();
    }

    private void FilesReady(InputFileChangeEventArgs e)
    {
        File = e.GetMultipleFiles().FirstOrDefault();
    }

}
